<!-- jQuery  -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/detect.js"></script>
<script src="/static/js/fastclick.js"></script>

<script src="/static/js/jquery.slimscroll.js"></script>
<script src="/static/js/jquery.blockUI.js"></script>
<script src="/static/js/waves.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/jquery.nicescroll.js"></script>
<script src="/static/js/jquery.scrollTo.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="/static/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="/static/plugins/jquery-knob/jquery.knob.js"></script>

<!--Morris Chart-->
<script src="/static/plugins/morris/morris.min.js"></script>
<script src="/static/plugins/raphael/raphael-min.js"></script>

<!-- Dashboard init -->
<script src="/static/pages/jquery.dashboard.js"></script>

<!-- App js -->
<script src="/static/js/jquery.core.js"></script>
<script src="/static/js/jquery.app.js"></script>